# Ambiente
NODE_ENV="development"

# Banco de dados
DATABASE_URL="postgresql://docker:docker@localhost:5432/wr-market?schema=public"

# JWT
JWT_SECRET="asdf"

# Base URL 
NEXT_PUBLIC_API_URL="http://localhost:3333"